@using TrainStationManagementApplication.Dto.ResponseModel;
@model BaseResponse<TransactionDto>

<head>
    <link rel="stylesheet" href="~/css/body.css" asp-append-version="true" />
</head>
<body>
    <div class="card-container">
        <a href="/" class="hero-image-container">
            @*<img class="hero-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube" />*@
            <img class="hero-image" src="~/train.jpeg" alt="Spinning glass cube" />
        </a>
        <main class="main-content">
            <h1>Delete</h1>
            <p>Are you sure you want to delete this?</p>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>Amount:</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p>   @Html.DisplayFor(model => model.Data.Amount)</p>
                </div>
            </div>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>First Name:</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p>   @Html.DisplayFor(model => model.Data.FirstName)</p>
                </div>
            </div>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>LastName:</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p>  @Html.DisplayFor(model => model.Data.LastName)</p>
                </div>
            </div>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>Email:</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p> @Html.DisplayFor(model => model.Data.Email)</p>
                </div>
            </div>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>Phone Number</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p>  @Html.DisplayFor(model => model.Data.PhoneNumber)</p>
                </div>
            </div>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>Gender:</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p> @Html.DisplayFor(model => model.Data.Gender)</p>
                </div>
            </div>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>Reference Number:</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p>@Html.DisplayFor(model => model.Data.ReferenceNumber)</p>
                </div>
            </div>
            <div class="flex-row">
                <div class="coin-base">
                    @*<img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" />*@
                    <h2>Date Created:</h2>
                </div>
                <div class="time-left">
                    @*<img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock" class="small-image" />*@
                    <p>@Html.DisplayFor(model => model.Data.DateCreated)</p>
                </div>
            </div>
        </main>
        <div class="card-attribute">
            @* <img src="https://i.postimg.cc/SQBzNQf1/image-avatar.png" alt="avatar" class="small-avatar" />
            <p>Creation of <span><a href="#">Jules Wyvern</a></span></p>*@
            <form asp-action="DeleteTransaction">
                <input type="hidden" name="Id" value="@Model.Data.Id" />
                <button style="background-color:blue; color:azure">Yes</button>

                <a class="btn" asp-action="Index" style="color:azure; background-color:red;width:44px; height:34px">No</a>
            </form>
        </div>
    </div>
    </div>
</body>

