@using TrainStationManagementApplication.Dto
@model IEnumerable<TrainDto>
@*<table class="table">*@
    @*<thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>TrainNumber</th>
            <th>Capacity</th>
            <th>AvailableSpace</th>
            <th>IsAvailable</th>
            <th>Amount</th>
            <th>DepartureTime</th>
            <th>StartingStation</th>
            <th>EndingStation</th>
            <th>Distance</th>
            <th>Book</th>
            
        </tr>
    </thead>
    <tbody>
        @{
            var serialNo = 1;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>@serialNo</td>
                <td>@item.Name</td>
                <td>@item.TrainNumber</td>
                <td>@item.Capacity</td>
                <td>@item.AvailableSpace</td>
                <td>@item.IsAvailable</td>
                <td>@item.Amount</td>
                <td>@item.DepartureTime</td>
                <td>@item.StartingStation</td>
                <td>@item.EndingStation</td>
                <td>@item.Distance</td>

                <td>
                    @{
                        // Assuming parameter1 and parameter2 are variables containing the values you want to pass
                        var parameter1 = item.Amount;
                        var parameter2 = item.Id;
                    }

                    @Html.ActionLink("Book", "Transaction", "Trips", new { parameter1 = parameter1, parameter2 = parameter2 }, null)

                    @*<a asp-action="Transaction" asp-controller="Trips" asp-route-amount="@item.Amount">Book</a>*@
@*                </td>
                
            </tr>
            serialNo++;
        }
    </tbody>
</table>*@



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Trains</h4>
                    @*<p class="card-category">Here is a subtitle for this table</p>*@
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>TrainNumber</th>
                        <th>Capacity</th>
                        <th>AvailableSpace</th>
                        <th>IsAvailable</th>
                        <th>Amount</th>
                        <th>DepartureTime</th>
                        <th>StartingStation</th>
                        <th>EndingStation</th>
                        <th>Distance</th>
                        <th>Update</th>
                        </thead>
                        <tbody>
                            @{
                                var serialNo = 1;
                            }

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@serialNo</td>
                                    <td>@item.Name</td>
                                    <td>@item.TrainNumber</td>
                                    <td>@item.Capacity</td>
                                    <td>@item.AvailableSpace</td>
                                    <td>@item.IsAvailable</td>
                                    <td>@item.Amount</td>
                                    <td>@item.DepartureTime</td>
                                    <td>@item.StartingStation</td>
                                    <td>@item.EndingStation</td>
                                    <td>@item.Distance</td>

                                     <td>
                                        <a asp-action="UpdateTrainBackToAvailable" asp-controller="Trains" asp-route-trainId="@item.Id" style="padding-top: 12.5px">Update</a>
                                    </td>

                                </tr>
                                serialNo++;
                            }

                        </tbody>
                    </table>
                  
                </div>
            </div>
        </div>

    </div>
</div>

